# Python önbellek dosyaları
__pycache__/
*.py[cod]

# Sanal ortam
venv/
.venv/

# Hassas veriler (Şifreleme anahtarları)
*.key
secret.key

*.py linguist-detectable=true
*.py linguist-language=Python
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
